/* Import other css files */
@import url('../css/mobile.css');
@import url('../css/layout.css');

:root {
  --main-bg-color: #F6F6F6;
  --color-blue: #0E237E;
  --color-white: #fff;
  --color-green: #78B945;
  --text-center: center;
  --display-block: block;
}


body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
}

.fixed-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.brand-logo {
  color: var(--color-white);
  font-size: 2rem;
  margin-left: 50px;
  float: left;
}

.card {
  padding: 10px;
  background-color: var(--color-white);
  border-radius: 5px;
}


/* background / colors */
.main-bg {
  background-color: var(--main-bg-color);
}

.bg-blue {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.blue {
  color: var(--color-blue);
}

.bg-green {
  background-color: var(--color-green);
  color: var(--color-white);
}

.green {
  color: var(--color-green);
}

.white {
  color: var(--color-white);
}

/* buttons */
.btn-blue:hover {
  background: var(--color-blue);
  cursor: pointer;
}

.btn-green:hover {
  background: var(--color-green);
  cursor: pointer;
}

.hover-blue:hover {
  color: var(--color-blue);
  cursor: pointer;
}

.hover-white:hover {
  color: var(--color-white);
  cursor: pointer;
}

/* displays */
.text-center {
  text-align: var(--text-center);
}

.dis-block {
  display: var(--display-block);
  margin: 10px;
}

.s-text {
  font-size: 12px;
}

.m-text {
  font-size: 14px;
}

.m-t {
  margin-top: 12px;
}

.m-b {
  margin-bottom: 12px;
}

.sticky-footer {
  height: 10rem;
  width: 100%;
  right: 0;
  bottom: 0;
}

.hero-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/banking-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50vh;
}

.hero-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  font-size: 1.1rem;
  font-weight: 500;
}

.hero-btn {
  text-align: center;
  position: absolute;
  top: 90%;
  right: 0%;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
}

.m-large {
  margin: 50px 0;
}

.m-t-large {
  margin-top: 50px;
}

.m-right {
  margin-right: 50px;
}

.m-right {
  margin-left: 50px;
}

.p-b-large {
  padding-bottom: 50px;
}

.float-right {
  float: right;
}