<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Banka -User Dashboard</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="stylesheet" href="../assets/css/dashboard.css" />
  <link rel="shortcut icon" href="../assets/images/favicon.png" />
</head>

<body>
  <div class="grid-container">
    <div class="menu-icon" id="menu-icon">
      <i class="fas fa-bars header__menu"></i>
    </div>

    <header class="header">
      <div class="header__account white s-text">Acct No: <span class="green">2365890214</span></div>
      <div class="header__avatar pointer">
        <img src="../assets/images/user.svg" alt="user avatar" title="User">
      </div>
    </header>

    <aside class="sidenav" id="sidenav">
      <div class="sidenav__close-icon">
        <i class="fas fa-times sidenav__brand-close" id="sidenav__brand-close"></i>
      </div>

      <div class="bg-blue fixed-header">
        <nav>
          <a href="#" class="brand-logo p-t-s">Ban<span class="green">Ka</span></a>
        </nav>
      </div>

      <ul class="sidenav__list">
        <a href="./dashboard.html">
          <li class="sidenav__list-item">Overview</li>
        </a>

        <a href="./profile.html">
          <li class="sidenav__list-item list__item-active">My Profile</li>
        </a>

        <a href="../views/login.html">
          <li class="sidenav__list-item">Log Out</li>
        </a>
      </ul>
    </aside>

    <main class="main">

      <div class="main-cards">
        <!-- Banka Account Details -->
        <div class="card bg-green">
          <div class="card__item">
            <form action="#">
              <div class="black">
                <div class="m-t">
                  <label for="title" class="p-b blue"><b>Title</b></label>
                  <select name="title" class="w-full" required>
                    <option value="--Select--">--Select-- (Required)</option>
                    <option value="MR">MR</option>
                    <option value="MRS">MRS</option>
                    <option value="MISS">MISS</option>
                    <option value="ALHAJI">ALHAJI</option>
                    <option value="ALHAJA">ALHAJA</option>
                    <option value="CHIEF">CHIEF</option>
                    <option value="DOCTOR">DOCTOR</option>
                    <option value="SIR">SIR</option>
                  </select>
                </div>

                <div class="m-t">
                  <label for="firstName" class="p-b blue"><b>First Name</b></label>
                  <input type="text" placeholder=" Enter Your First Name" name="firstName" class="w-full" required>
                </div>

                <div class="m-t">
                  <label for="lastName" class="p-b blue"><b>Last Name</b></label>
                  <input type="text" placeholder=" Enter Your last Name" name="lastName" class="w-full" required>
                </div>

                <div class="m-t">
                  <label for="otherName" class="p-b blue"><b>Other Name</b></label>
                  <input type="text" placeholder=" Enter Your other Name" name="otherName" class="w-full" required>
                </div>

                <div class="m-t">
                  <label for="title" class="p-b blue"><b>Account Type</b></label>
                  <select name="accountType" id="" class="w-full" required>
                    <option value="--Select--">--Select-- (Required)</option>
                    <option value="Savings">Savings</option>
                    <option value="Current">Current</option>
                  </select>
                </div>

                <div class="m-t">
                  <label for="title" class="p-b blue"><b>Gender</b></label>
                  <select name="gender" id="" class="w-full" required>
                    <option value="--Select--">--Select-- (Required)</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                  </select>
                </div>

                <div class="m-t">
                  <label for="dateOfBirth" class="p-b blue"><b>Date of Birth</b></label>
                  <input type="date" placeholder=" Enter Your Date of Birth" name="dateOfBirth" class="w-full" required>
                </div>

                <div class="m-t">
                  <label for="email" class="p-b blue"><b>Email</b></label>
                  <input type="email" placeholder=" Enter Your working email" name="email" class="w-full"
                    value="example@mail.com" required>
                </div>

                <div class="m-t">
                  <button type='submit' class="form-button bg-blue btn-green w-full">Open Account</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Personal Profile Details -->
        <div class="card">
          <div class="card__item">
            <form action="#">
              <div class="black">

                <div class="m-t">
                  <label for="userName" class="p-b blue"><b>User Name</b></label>
                  <input type="text" placeholder="Edit your userName" name="userName" class="w-full" value="Iroleh">
                </div>

                <div class="m-t">
                  <label for="email" class="p-b blue"><b>Email</b></label>
                  <input type="email" placeholder="Edit Your working email" name="email" class="w-full"
                    value="example@mail.com">
                </div>


                <div class="m-t">
                  <label for="password" class="p-b blue"><b>Password</b></label>
                  <input type="text" placeholder="Edit your password" name="password" class="w-full" value="xxxx">
                </div>

                <div class="m-t">
                  <label for="password" class="p-b blue"><b>Confirm Password</b></label>
                  <input type="text" placeholder="Confirm your password" name="password" class="w-full" required>
                </div>

                <div class="m-t">
                  <button type='submit' class="form-button bg-blue btn-green w-full">Update Details</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer white">
      <div class="footer__copyright">&copy; 2019 Banka</div>
      <div class="footer__signature">
        <a href="https://andela.com/" target="_blank" class="green">Andela </a>Bootcamp
      </div>
    </footer>
  </div>
</body>
<script src="../assets/js/jquery-3.3.1.min.js"></script>
<script src="../assets/js/index.js"></script>

</html>